<body xmlns:th="http://www.thymeleaf.org" th:fragment="body_fragment(title,element,scriptElm)">
	<div class="uk-grid" uk-height-viewport="expand: true">
		<nav style="background:rgba(250,250,250);">
			<div style="width:250px;">
				<div class="uk-list uk-list-medium uk-padding-small uk-width-medium uk-overflow-auto uk-height-small"
					uk-height-viewport="offset-bottom: 300px">
					<ul class="uk-nav">
						<li><a class="uk-link-muted" th:href="@{/table/list}"><span uk-icon="server"></span> テーブル一覧</a>
						</li>
						<li>
							<ul uk-accordion>
								<li class="uk-parent">
									<a class="uk-accordion-title" href="#">PostgreSQL1</a>
									<div class="uk-accordion-content">
										<ul class="uk-nav-sub">
											<li>TableName1</li>
											<li>TableName2</li>
											<li>TableName3</li>
										</ul>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="uk-width-medium uk-position-bottom" style="width:250px;">
				<div class="uk-list uk-list-medium uk-width-medium uk-padding-small">
					<hr>
					<ul class="uk-nav">
						<li><a class="uk-link-muted" th:href="@{/connect/list}"><span uk-icon="git-fork"></span>
								接続情報一覧</a></li>
						<li><a class="uk-link-muted" th:href="@{/cond/list}"><span uk-icon="list"></span> 検索条件一覧</a>
						</li>
						<li><a class="uk-link-muted" th:href="@{/sqlexecute}"><span uk-icon="code"></span> SQL実行</a>
						</li>
						<li><a class="uk-link-muted" th:href="@{/user/list}"><span uk-icon="user"></span> ユーザー一覧</a>
						</li>
						<li><a class="uk-link-muted" th:href="@{/setting/detail}"><span uk-icon="cog"></span> 設定</a>
						</li>
						<li class="uk-padding-small uk-padding-remove-horizontal">
							<a class="uk-link-text" th:href="@{/}">
								<img class="uk-width-1-6" th:src="@{/img/logo2.png}">
								<span class="uk-text-large uk-position-relative" style="top:5px;">DBcow<span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<main class="uk-width-expand uk-margin uk-container uk-margin-auto uk-text-center">
			<header>
				<p th:text="${title}"></p>
			</header>
			<th:block th:replace="${element} ?: _" />
		</main>
	</div>
	<section class="uk-position-fixed uk-width-1-1 uk-position-bottom uk-animation-fade ">
		<div id="infoMsg" class="uk-alert-primary uk-width-2xlarge uk-margin-auto" uk-alert hidden><a
				class="uk-alert-close" uk-close></a>
			<p></p>
		</div>
		<div id="successMsg" class="uk-alert-success uk-width-2xlarge uk-margin-auto" uk-alert hidden><a
				class="uk-alert-close" uk-close></a>
			<p></p>
		</div>
		<div id="warnMsg" class="uk-alert-warning uk-width-2xlarge uk-margin-auto" uk-alert hidden><a
				class="uk-alert-close" uk-close></a>
			<p></p>
		</div>
		<div id="errorMsg" class="uk-alert-danger uk-width-2xlarge uk-margin-auto" uk-alert hidden><a
				class="uk-alert-close" uk-close></a>
			<p></p>
		</div>
	</section>
	<script th:src="@{/js/body.js}"></script>
	<th:block th:replace="${scriptElm} ?: _" />
</body>