<body xmlns:th="http://www.thymeleaf.org" th:fragment="body_fragment(element,scriptElm)">
	<div class="uk-grid" uk-height-viewport="expand: true">
		<nav th:replace="common/nav :: nav"></nav>
		<main class="uk-width-expand uk-margin uk-container uk-margin-auto uk-text-center">
			<header>
				<ul class="uk-breadcrumb uk-text-left">
					<li th:each="breadcumb : ${breadcumbs}">
						<a th:text="${breadcumb.key}" th:href="@{${breadcumb.value}}"></a>
					</li>
				</ul>
			</header>
			<article class="uk-margin-remove uk-padding-remove">
				<th:block th:replace="${element} ?: _" />
			</article>
		</main>
	</div>
	<section class="uk-position-fixed uk-width-1-1 uk-position-bottom uk-animation-fade ">
		<div id="infoMsg" class="uk-alert-primary uk-width-2xlarge uk-margin-auto" uk-alert hidden><a
				class="uk-alert-close" uk-close></a>
			<p></p>
		</div>
		<div id="successMsg" class="uk-alert-success uk-width-2xlarge uk-margin-auto" uk-alert hidden><a
				class="uk-alert-close" uk-close></a>
			<p></p>
		</div>
		<div id="warnMsg" class="uk-alert-warning uk-width-2xlarge uk-margin-auto" uk-alert hidden><a
				class="uk-alert-close" uk-close></a>
			<p></p>
		</div>
		<div id="errorMsg" class="uk-alert-danger uk-width-2xlarge uk-margin-auto" uk-alert hidden><a
				class="uk-alert-close" uk-close></a>
			<p></p>
		</div>
	</section>
	<section id="loading" hidden>
	  <div uk-spinner></div>
	</section>
	<script th:src="@{/js/body.js}"></script>
	<th:block th:replace="${scriptElm} ?: _" />
</body>