<head xmlns:th="http://www.thymeleaf.org" th:fragment="head_fragment(title,links,scripts)">
    <meta charset="UTF-8" />
	<meta th:name="_csrf" th:content="${_csrf.token}"/>
	<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:text="${title == ''} ? 'DBcow' : ${title} + ' | DBcow'"></title>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
    <link th:href="@{/css/lib/uikit.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/lib/dataTables.uikit.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/lib/jquery-editable-select.min.css}" rel="stylesheet">
	<link th:href="@{/css/body.css}" rel="stylesheet">
	<script th:src="@{/js/lib/jquery-1.12.4.min.js}"></script>	
	<script th:src="@{/js/lib/jquery-editable-select.min.js}"></script>
    <script th:src="@{/js/lib/uikit.min.js}"></script>
    <script th:src="@{/js/lib/uikit-icons.min.js}"></script>
    <th:block th:replace="${links} ?: _" />
    <th:block th:replace="${scripts} ?: _" />
</head>