<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <section th:fragment="list" id="listSection" class="uk-flex-1 uk-overflow-auto">
        <table class="uk-table uk-table-divider uk-table-hover">
            <thead>
                <tr>
                    <th th:each="listElm, status : ${listElms}" class="uk-text-center uk-text-nowrap uk2-pointer"
                        th:data-col="${listElm.key}">
                        <span class="listHeaderText" th:text="${listElm.value}"></span>
                        <span class="listHeaderArrow" th:uk-icon="${status.first} ? 'icon: triangle-up'"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <script th:inline="javascript">
            let listElmsKey = /*[[${listElmsKey}]]*/ {};
            let listElms = /*[[${listElms}]]*/ {};
        </script>
    </section>
</body>

</html>