<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{common/head :: head_fragment(${title}, ~{}, ~{})}">
		
    </head>
    <body th:replace="~{common/body :: body_fragment(element = ~{::div}, scriptElm = ~{::script})}">	
    
		<div class="uk-inline uk-width-medium uk-display-inline-block">
			
			<li><a class="uk-link-muted" th:href="@{/table/db1}">DB1</a></li>
			<li><a class="uk-link-muted" th:href="@{/table/db1/schema1}">schema1</a></li>
			<li><a class="uk-link-muted" th:href="@{/table/db1/schema1/table1}">table1</a></li>
			<li><a class="uk-link-muted" th:href="@{/table/db1/schema1/table1/data1}">data1</a></li>
			
		</div>
		<script type="module">
			import { api } from "/js/component/api.js";
			api.getTableList();
			api.getTableList2();
		</script>
    </body>
</html>