<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{common/head :: head_fragment(${title}, ~{}, ~{})}">
		
    </head>
    <body th:replace="~{common/body :: body_fragment(element = ~{::div}, scriptElm = ~{::script})}">	
    
	<div class="uk-inline uk-width-2xlarge uk-display-inline-block">
		<section th:replace="common/search :: search"></section>
		<section th:replace="common/list :: list"></section>
	</div>
		<script type="module" th:src="@{/js/connect/connectList.js}"></script>
    </body>
</html>