<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{common/head :: head_fragment(${title}, ~{}, ~{})}">
		
    </head>
    <body th:replace="~{common/body :: body_fragment(element = ~{::div}, scriptElm = ~{::script})}">	
    
		<div class="uk-inline uk-width-medium uk-display-inline-block">
			
		</div>
		<script type="module">
			import { api } from "/js/component/api.js";			
			api.getCondDetail();
			api.postCondDetail();
			api.patchCondDetail();
			api.deleteCondDetail();
		</script>
    </body>
</html>