<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{common/head :: head_fragment(${title}, ~{}, ~{})}">
		
    </head>
    <body th:replace="~{common/body :: body_fragment(element = ~{::div}, scriptElm = ~{::script})}">	
    
		<div class="uk-inline uk-width-medium uk-display-inline-block">
			<button id="saveSetting">保存</button>

			<form th:action="@{/logout}" method="post">
				<button class="uk-button logout-button">
					ログアウト
				</button>
			</form>
			
		</div>
		<script type="module" th:src="@{/js/setting/settingDetail.js}"></script>
    </body>
</html>