<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{common/head :: head_fragment(${title}, ~{}, ~{})}">

</head>

<body th:replace="~{common/body :: body_fragment(element = ~{::div}, scriptElm = ~{::script})}">

	<div class="uk-inline uk-width-2xlarge uk-display-inline-block">
		<section id="searchSection" class="uk-flex-2">
			<div
				class="height100 uk-flex uk-flex-center uk-flex-middle uk-position-relative uk-card uk-card-default uk-box-shadow-small uk-border-rounded">
				<div class="margin100-20 search-border">
					<div class="uk-column-1-2@s uk-column-1-3@m padding15-10">
						<div class="uk-margin">
							<label class="uk-form-label uk-text-muted" for="form-stacked-text">物品コード</label>
							<div class="uk-form-controls">
								<input class="uk-input" id="itemCodeInput" type="text" placeholder="" tabindex="1">
							</div>
						</div>
						<div class="uk-margin uk-visible@m">
							<label class="uk-form-label uk-text-muted" for="form-stacked-text">登録者名</label>
							<div class="uk-form-controls">
								<input class="uk-input" id="registUserInput" type="text" placeholder="" tabindex="4">
							</div>
						</div>
						<div class="uk-margin uk-visible@s">
							<label class="uk-form-label uk-text-muted" for="form-stacked-text">物品名</label>
							<div class="uk-form-controls">
								<input class="uk-input" id="itemNameInput" type="text" placeholder="" tabindex="2">
							</div>
						</div>
						<div class="uk-margin uk-visible@m">
							<label class="uk-form-label uk-text-muted" for="form-stacked-text">更新者名</label>
							<div class="uk-form-controls">
								<input class="uk-input" id="updateUserInput" type="text" placeholder="" tabindex="5">
							</div>
						</div>
						<div class="uk-margin uk-visible@s">
							<label class="uk-form-label uk-text-muted" for="form-stacked-text">ステータス</label>
							<div class="uk-form-controls">
								<select class="uk-select" id="statusSelect" tabindex="3">
									<option></option>
									<option>入荷</option>
									<option>棚卸</option>
									<option>返却</option>
									<option>処分</option>
									<option>不明</option>
								</select>
							</div>
						</div>
						<div class="uk-margin uk-flex uk-flex-right uk-flex-bottom height64">
							<button id="searchBtn" class="uk-button uk-button-primary uk-border-rounded"
								tabindex="6">検索</button>
						</div>
					</div>
				</div>
				<span class="search-text">検索条件</span>
			</div>
		</section>
		<section id="listSection" class="uk-flex-1 uk-overflow-auto">
			<table id="userListTable" class="uk-table uk-table-divider uk-table-hover">
				<thead>
					<tr>
						<th class="uk-text-center">ユーザー名</th>
						<th class="uk-text-center">役割</th>
						<th class="uk-text-center">ユーザー有効可否</th>
						<th class="uk-text-center">ユーザー作成日時</th>
						<th class="uk-text-center">ユーザー更新日時</th>
						<th class="uk-text-center">詳細</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</section>
		<footer class="uk-flex-2 uk-padding-remove-bottom">
			<div th:replace="common/footer :: footer"></div>
		</footer>
	</div>
	<script th:inline="javascript">
		const loginPath = /*[[@{/login}]]*/
		const userListPath = /*[[@{/api/user/list}]]*/
		const userListScPath = /*[[@{/user}]]*/
		const userDetailScLinkPath = /*[[@{/user/}]]*/
	</script>
	<script th:src="@{/js/userList.js}"></script>
</body>

</html>