<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{common/head :: head_fragment(${title}, ~{}, ~{})}">

</head>

<body th:replace="~{common/body :: body_fragment(element = ~{::div}, scriptElm = ~{::script})}">

	<div class="uk-inline uk-width-2xlarge uk-display-inline-block">
		<div class="uk-overflow-auto dataTables_wrapper">
			<table id="userListTable" class="uk-table uk-table-divider uk-table-hover dataTable">
				<thead>
					<tr>
						<th class="uk-text-center sorting">ユーザー名</th>
						<th class="uk-text-center sorting">役割</th>
						<th class="uk-text-center sorting">ユーザー有効可否</th>
						<th class="uk-text-center sorting">ユーザー作成日時</th>
						<th class="uk-text-center sorting">ユーザー更新日時</th>
						<th class="uk-text-center sorting">詳細</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>

	</div>
	<script th:inline="javascript">
		const loginPath = /*[[@{/login}]]*/
		const userListPath = /*[[@{/api/user/list}]]*/
		const userListScPath = /*[[@{/user}]]*/
		const userDetailScLinkPath = /*[[@{/user/}]]*/
	</script>
	<script th:src="@{/js/userList.js}"></script>
</body>

</html>