<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{common/head :: head_fragment(${title}, ~{}, ~{})}">

</head>

<body th:replace="~{common/body :: body_fragment(element = ~{::div}, scriptElm = ~{::script})}">

	<div class="uk-inline uk-display-inline-block">
		<form class="uk-form-horizontal">
			<div class="uk-margin uk-text-left">
				<label class="uk-form-label uk-text-muted">ユーザー名</label>
				<div class="uk-inline uk-form-controls uk-margin-small-left">
					<input class="uk-input uk-width-medium" type="text" name="username" minLength=4 maxLength=20
						required>
				</div>
			</div>
			<div class="uk-margin uk-text-left">
				<label class="uk-form-label uk-text-muted">パスワード</label>
				<div class="uk-inline uk-form-controls uk-margin-small-left">
					<input class="uk-input uk-width-medium" type="password" name="password" minLength=4 maxLength=20
						required>
				</div>
			</div>
			<div class="uk-margin uk-text-left">
				<label class="uk-form-label uk-text-muted">パスワード(確認)</label>
				<div class="uk-inline uk-form-controls uk-margin-small-left">
					<input class="uk-input uk-width-medium" type="password" name="re_password" minLength=4 maxLength=20
						required>
				</div>
			</div>
			<div class="uk-margin uk-text-left">
				<label class="uk-form-label uk-text-muted">役割</label>
				<div class="uk-inline uk-form-controls uk-margin-small-left">
					<select class="uk-select uk-width-medium" name="roles" required>
						<option value="ROLE_USER">一般ユーザー</option>
						<option value="ROLE_ADMIN">管理者ユーザー</option>
					</select>
				</div>
			</div>
			<div class="uk-margin uk-text-left">
				<label class="uk-form-label uk-text-muted">ユーザー有効可否</label>
				<div class="uk-inline uk-form-controls uk-margin-small-left">
					<label><input class="uk-input uk-width-medium" type="text" name="deleteFlag" disabled></label>
				</div>
			</div>
			<div class="uk-margin uk-text-center uk-margin-large-top">
				<button id="updateBtn" class="uk-button uk-button-primary " type="button">ユーザー更新</button>
				<button id="deleteBtn" class="uk-button uk-button-danger " type="button">ユーザー削除</button>
				<!--/* <button id="deleteBtn" class="uk-button uk-alert-warning" type="button">ユーザー復活</button>*/-->
			</div>
		</form>

	</div>
	<script type="module" th:src="@{/js/user/userDetail.js}"></script>
</body>

</html>