<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{common/head :: head_fragment(${title}, ~{}, ~{})}">

</head>

<body th:replace="~{common/body :: body_fragment(element = ~{::div}, scriptElm = ~{::script})}">
	<div class="uk-inline uk-display-inline-block">
		<form class="uk-form-horizontal">
			<div id="constatus" class="uk-margin uk-text-right">
			</div>
			<div class="uk-margin uk-text-left">
				<label class="uk-form-label uk-text-muted">接続情報名</label>
				<div class="uk-inline uk-form-controls uk-margin-small-left">
					<input class="uk-input uk-width-medium" type="text" name="conname" minLength=4 maxLength=20
						required>
				</div>
			</div>
			<div class="uk-margin uk-text-left">
				<label class="uk-form-label uk-text-muted">DB種類</label>
				<div class="uk-inline uk-form-controls uk-margin-small-left">
					<select class="uk-select uk-width-medium" name="dbtype" required>
						<option value="1">OracleDB</option>
						<option value="2">PostgreSQL</option>
						<option value="3">MySQL(MariaDB)</option>
						<option value="4">SQLite</option>
						<option value="5">Teradata</option>
					</select>
				</div>
			</div>
			<div class="uk-margin uk-text-left">
				<label class="uk-form-label uk-text-muted">接続先場所</label>
				<div class="uk-inline uk-form-controls uk-margin-small-left">
					<input class="uk-input uk-width-medium" type="text" name="host" minLength=4 maxLength=20 required>
				</div>
			</div>
			<div class="uk-margin uk-text-left">
				<label class="uk-form-label uk-text-muted">ユーザー名</label>
				<div class="uk-inline uk-form-controls uk-margin-small-left">
					<input class="uk-input uk-width-medium" type="text" name="user" minLength=4 maxLength=20 required>
				</div>
			</div>
			<div class="uk-margin uk-text-left">
				<label class="uk-form-label uk-text-muted">パスワード</label>
				<div class="uk-inline uk-form-controls uk-margin-small-left">
					<input class="uk-input uk-width-medium" type="password" name="password" minLength=4 maxLength=20
						required>
				</div>
			</div>
			<div class="uk-margin uk-text-center uk-margin-large-top">
				<button id="testConBtn" class="uk-button uk-button-secondary uk-width-small"
					type="button">テスト接続</button>
				<div id="executeButtons" class="uk-button-group uk-width-small">
					<button id="saveBtn" class="uk-button uk-button-primary uk-width-expand" type="button">保存</button>
					<div class="uk-inline">
						<button class="uk-button uk-button-primary uk2-width-xsmall1 uk-padding-remove " type="button" aria-label="Toggle Dropdown"><span
								uk-icon="icon:  triangle-down"></span></button>
						<div uk-dropdown="mode: click; target: !.uk-button-group;">
							<ul class="uk-nav uk-dropdown-nav">
								<li><a href="#" id="chTriggerExecBtn">削除</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<script type="module" th:src="@{/js/connect/connectDetail.js}"></script>
</body>

</html>