<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{common/head :: head_fragment('page1', ~{}, ~{})}">
		
    </head>
    <body th:replace="~{common/body :: body_fragment(title = 'page1', element = ~{::div}, scriptElm = ~{::script})}">	
    
		<div class="uk-inline uk-width-medium uk-display-inline-block">
            接続情報一覧
		</div>
		<script th:inline="javascript">
			const k1Path = /*[[@{/xxxx/xxxx}]]*/
    		const k2Path = /*[[@{/xxxx/xxxx}]]*/
			let token = $("meta[name='_csrf']").attr("content"); 
			let header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { 
				xhr.setRequestHeader(header, token);
			});
			$.ajax({
				type : "GET",
				url : "/api/cond/list",
				data: {},
				contentType: "application/json",
				dataType : 'json',
				success: function (result) {       
					console.log(result);                
				},
				error: function (e) {
					console.log(e);
				}
			});
		</script>
		<script th:src="@{/js/xxxx/xxxx.js}"></script>
    </body>
</html>